extends ../layout

block content
    div.user
      form(method="POST")
        h1 Login :)
        p
          h2 Tu nickname:
          input(type="text" name="username")
        p
          h2 Tu Password:
          input(type="password" name="password")
        p
        button(type="submit") LOGUEAME!
        hr
        br
